<h1>Login</h1>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<%= form_with url: session_path, local: true do |form| %>
  <div>
    <%= form.label :email, "Email" %><br>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :password, "Password" %><br>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.submit "Log in" %>
  </div>
<% end %>

<p>
  <%= link_to "Sign up", new_user_path %> if you don't have an account.
</p>
